@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.film-gallery__container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .film-gallery__container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .film-gallery__container {
    padding-left: 32px;
    padding-right: 32px;
    width: 1280px;
  }
}

ul {
  margin: 0 0;
  padding: 0 0;
}

a {
  text-decoration: none;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 33px;
    padding-right: 33px;
  }
}

.current::after {
  position: relative;
  bottom: -3px;
  right: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

header {
  width: 100%;
  height: 230px;
  background-color: #191c26;
  background-image: url(/src/images/header-bg-mob1x.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  header {
    background-image: url(/src/images/header-bg-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  header {
    background-image: url(/src/images/header-bg-tab1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  header {
    background-image: url(/src/images/header-bg-tab2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  header {
    background-image: url(/src/images/header-bg-desk1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  header {
    background-image: url(/src/images/header-bg-desk2x.jpg);
  }
}

.header__menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__svg {
  fill: none;
}

.header__logo__text {
  visibility: hidden;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 0 0;
}
@media screen and (min-width: 768px) {
  .header__logo__text {
    visibility: visible;
    position: static;
  }
}

.header__menu__list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0 0;
}

.header__menu__item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header__form__input {
  display: block;
  border-width: 0;
  width: 280px;
  border-bottom: 1px solid white;
  margin: 0 auto;
  background-color: transparent;
  background-image: url("/src/images/search.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 100%;
}
@media screen and (min-width: 768px) {
  .header__form__input {
    width: 336px;
  }
}

.header__notif {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ff001b;
  margin-top: 15px;
  margin-bottom: 0;
}

.library {
  width: 100%;
  height: 230px;
  background-color: rgb(23, 27, 38);
  background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)), url(/src/images/library-bg-mob1x.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library {
    background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)), url(/src/images/library-bg-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .library {
    background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)), url(/src/images/library-bg-tab1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .library {
    background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)), url(/src/images/library-bg-tab2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .library {
    background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)), url(/src/images/library-bg-desk1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .library {
    background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)), url(/src/images/library-bg-desk2x.jpg);
  }
}

.library__btns {
  display: flex;
}

.library__btn {
  width: 152px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  /* or 133% */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.library__btn--active {
  background-color: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.library__btns__item + .library__btns__item {
  margin-left: 32px;
}

.film-gallery {
  background-color: #ffffff;
}

.film-gallery__list {
  display: flex;
  margin: 20px 0 40px;
}
@media screen and (max-width: 767.98px) {
  .film-gallery__list {
    gap: 20px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .film-gallery__list {
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film-gallery__list {
    flex-wrap: wrap;
  }
}

.film-gallery__item {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
@media screen and (max-width: 767.98px) {
  .film-gallery__item {
    width: 280px;
  }
}
@media screen and (min-width: 1280px) {
  .film-gallery__item {
    margin-right: 15px;
    margin-bottom: 32px;
  }
  .film-gallery__item:nth-child(3n) {
    margin-right: 0;
  }
  .film-gallery__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.film-gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
@media screen and (max-width: 767.98px) {
  .film-gallery__img {
    height: 402px;
    width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .film-gallery__img {
    height: 455px;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .film-gallery__img {
    height: 574px;
    width: 395px;
  }
}

.film {
  display: inline-block;
}
@media screen and (max-width: 767.98px) {
  .film {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .film {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .film {
    margin-top: 12px;
  }
}

.film__wrapper {
  display: flex;
  gap: 5px;
}

.film__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #000000;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .film__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .film__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.film__wrapper-reset {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
}
@media screen and (min-width: 768px) {
  .film__wrapper-reset {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .film__wrapper-reset {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.card {
  transition: 0.5s linear;
  border-radius: 5px;
}
.card:hover, .card:focus {
  transform: scale(1.05);
  box-shadow: 4px 3px 12px -1px rgba(255, 107, 8, 0.5);
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  display: inline-block;
}

.footer {
  margin-top: -100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.14;
  color: #545454;
  height: 100px;
  background: #f7f7f7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 80px;
    font-size: 16px;
    line-height: 1.18;
  }
}

.svg-heart {
  width: 14px;
  height: 14px;
  fill: #ff6b08;
}

@media screen and (min-width: 768px) {
  br {
    display: none;
  }
}

.students-modal {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.students-modal:hover {
  cursor: pointer;
  color: #ff6b08;
  text-decoration: underline;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1279.98px) {
  .backdrop {
    overflow-y: scroll;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translate(-50%, -50%), scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .modal {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 618px;
    height: auto;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 882px;
    height: auto;
    padding-top: 48px;
    padding-bottom: 41px;
  }
}
.modal__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .modal__title {
    font-size: 30px;
    line-height: 1.16;
  }
}
.modal.dark-theme {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 768px) {
  .modal__content {
    display: flex;
  }
}/*# sourceMappingURL=index.css.map */