<header class="library">
  <div class="container">
    <nav class="header__menu">
      <a href="/src/index.html" class="header__logo">
        <svg class="header__logo__svg" width="24" height="24">
          <use href="/src/images/sprite.svg#icon-Logo"></use>
        </svg>
        <p class="header__logo__text">Filmoteka</p>
      </a>
      <ul class="header__menu__list">
        <li class="header__menu__item">
          <a class="" href="/src/index.html">home</a>
        </li>

        <li class="header__menu__item current">
          <a class="" href="/src/library.html">my library</a>
        </li>
      </ul>
    </nav>
    <ul class="library__btns">
      <li class="library__btns__item">
        <button
          class="library__btn library__btn--active">Watched</button>
      </li>
      <li class="library__btns__item">
        <button class="library__btn">Queue</button>
      </li>
    </ul>
    <!-- <p class="header__notif">
      Search result not successful. Enter the correct movie name and
    </p> -->
  </div>
</header>