<!--------------------------Backdrop------------------------->
<div class="backdrop-modal is-hidden" data-modal>
        <!-----------------------Modal-window---------------------------->
        <div class="modal">
                <button type="button" class="modal__btn-close" data-modal-close>
                        X
                </button>
                <div class="modal__desc"></div>
                <div class="modal__holder__btn">
                        <button type="button" class="modal__btn--watched modal__btn">add to Watched</button>
                        <button type="button" class="modal__btn--queue modal__btn">Add to queue</button>
                </div>
        </div>

</div>