<div class="backdrop-footer is-hidden" data-modal>
  <div class="team-modal">
    <button data-modal-close class="team-modal__close-btn">
      <svg class="close__svg" width="15" height="15">
        <use href="/src/images/close.svg#icon-close-black-18dp-2-1"></use>
      </svg>
    </button>
    <div class="team__header">
      <img class="cotton-logo" src="/src/images/cotton.png" alt="cotton" />
      <h2 class="team__main-name">Bavovna-team</h2>
    </div>

    <ul class="team__list">
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Dmytro_Tashpikov.jpg"
              alt="Dmytro_Tashpikov"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Dmytro Tashpikov</p>
            <p class="team__role">Team lead</p>
            <a
              href="https://github.com/neodim84"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              neodim84</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Alla_Yukhymenko.jpg"
              alt="Alla_Yukhymenko"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Alla Yukhymenko</p>
            <p class="team__role">Scrum master</p>
            <a
              href="https://github.com/AllaYukhym"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              AllaYukhym</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Alekhandro_Lago.jpg"
              alt="Alekhandro_Lago"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Alekhandro Lago</p>
            <p class="team__role">Developer</p>
            <a
              href="https://github.com/Alekhandro24"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              Alekhandro24</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Arthur_S.jpg"
              alt="Arthur_S"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Arthur Sheremet</p>
            <p class="team__role">Developer</p>
            <a
              href="https://github.com/Arthurosh"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              Arthurosh</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Dima_Viatkovskiy.jpg"
              alt="Dima_Viatkovskiy"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Dima Viatkovskiy</p>
            <p class="team__role">Developer</p>
            <a
              href="https://github.com/dima2605"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              dima2605</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Ievgen_Vorontsov.jpg"
              alt="Ievgen_Vorontsov"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Ievgen Vorontsov</p>
            <p class="team__role">Developer</p>
            <a
              href="https://github.com/Vorontsov1"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              Vorontsov1</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Khrystyna.jpg"
              alt="Khrystyna"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Khrystyna Halaiko</p>
            <p class="team__role">Developer</p>
            <a
              href="https://github.com/Khryyystyna"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              Khrystyna</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Oleksandr_Litvin.jpg"
              alt="Oleksandr_Litvin"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Oleksandr Litvin</p>
            <p class="team__role">Developer</p>
            <a
              href="https://github.com/Oleksandr-Lytvyn"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              Oleksandr-Lytvyn</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Vitalii_Sapunov.jpg"
              alt="Vitalii_Sapunov"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Vitalii Sapunov</p>
            <p class="team__role">Developer</p>
            <a
              href="https://github.com/Vi7ality"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              Vi7ality</a
            >
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__card">
          <div class="team__wrapper">
            <img
              class="team__image"
              src="/src/images/students/Volodymyr_Kurov.jpg"
              alt="Volodymyr_Kurov"
              width="50"
            />
          </div>
          <div class="team__wrapper">
            <p class="team__name">Volodymyr Kurov</p>
            <p class="team__role">Developer</p>
            <a
              href="https://github.com/vokur13"
              class="team__git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="github__svg" width="18" height="18">
                <use href="/src/images/github.svg#icon-github"></use>
              </svg>
              vokur13</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
