li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  display: inline-block;
}

.footer {
  margin-top: -100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.14;
  color: $text-color-light;
  height: 100px;
  background: $bg-footer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

   @include mq (tablet) {
    height: 80px;
    font-size: 16px;
    line-height: 1.18;
  }
}

.svg-heart {
  width: 14px;
  height: 14px;
  fill: $text-color-secondary;
}

br {
  @include mq (tablet) {
    display: none;
  }
}

.students-modal {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.students-modal:hover {
  cursor: pointer;
  color: $text-color-secondary;
  text-decoration: underline;
}

