// @mixin mobile {
//   @media screen and (min-width: 320px) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }

// @mixin tablet-img {
//   @media screen and (min-width: 321px) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media screen and (min-width: 1280px) {
//     @content;
//   }
// }

// @mixin desktop-img {
//   @media screen and (min-width: 769px) {
//     @content;
//   }
// }

// @mixin retina {
//   @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     @content;
//   }
// }

ul {
  margin: 0 0;
  padding: 0 0;
}

a {
  text-decoration: none;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(tablet) {
    padding-left: 33px;
    padding-right: 33px;
  }
}

.current::after {
  position: relative;
  bottom: -3px;
  right: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  // border-radius: 2px;
  background-color: $text-color-alert;
  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   bottom: -34px;
  // }
}

header {
  width: 100%;
  height: 230px;
  background-color: $text-color-primary;
  background-image: url(/src/images/header-bg-mob1x.jpg);
  background-repeat: no-repeat;
  //   background-position: right;
  background-size: 100% 100%;
  background-position: cover;
  @include mq(retina) {
    background-image: url(/src/images/header-bg-mob2x.jpg);
  }
  @include mq(tablet) {
    background-image: url(/src/images/header-bg-tab1x.jpg);
    @include mq(retina) {
      background-image: url(/src/images/header-bg-tab2x.jpg);
    }
  }
  @include mq(desktop) {
    background-image: url(/src/images/header-bg-desk1x.jpg);
    @include mq(retina) {
      background-image: url(/src/images/header-bg-desk2x.jpg);
    }
  }
}
.header__menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__svg {
  fill: none;
}

.header__logo__text {
  visibility: hidden;
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: $text-color-lighter;

  margin: 0 0 0 10px;
  @include mq(tablet) {
    visibility: visible;
    position: static;
  }
}

.header__menu__list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0 0;
}

.header__menu__item a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $text-color-lighter;
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__menu__item a:hover,
.header__menu__item a:focus {
  transform: scale(1.2);
}

.form-field {
  position: relative;
}

.header__form__input {
  color: $text-color-lighter;
  display: block;
  border-width: 0;
  width: 280px;
  border-bottom: 1px solid $text-color-lighter;
  margin: 0 auto;
  outline: none;
  background-color: transparent;
  background-image: url('/src/images/search.svg');
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 100%;
  @include mq(tablet) {
    width: 336px;
  }
}

.input-button {
  position: absolute;
  right: 0%;
  transform: translateY(-100%);
  display: block;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__notif {
  display: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  // display: flex;
  color: $text-color-alert;

  margin-top: 15px;
  margin-bottom: 0;
}

.header__notif--visible {
  display: block;
}

.library {
  width: 100%;
  height: 230px;
  background-color: rgb(23, 27, 38);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.5),
      rgba(25, 28, 38, 0.5)
    ),
    url(/src/images/library-bg-mob1x.jpg);
  background-repeat: no-repeat;
  //   background-position: right;
  background-size: 100% 100%;
  background-position: cover;
  @include mq(retina) {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.5),
        rgba(25, 28, 38, 0.5)
      ),
      url(/src/images/library-bg-mob2x.jpg);
  }
  @include mq(tablet) {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.5),
        rgba(25, 28, 38, 0.5)
      ),
      url(/src/images/library-bg-tab1x.jpg);
    @include mq(retina) {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.5),
          rgba(25, 28, 38, 0.5)
        ),
        url(/src/images/library-bg-tab2x.jpg);
    }
    @include mq(desktop) {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.5),
          rgba(25, 28, 38, 0.5)
        ),
        url(/src/images/library-bg-desk1x.jpg);
      @include mq(retina) {
        background-image: linear-gradient(
            rgba(25, 28, 38, 0.5),
            rgba(25, 28, 38, 0.5)
          ),
          url(/src/images/library-bg-desk2x.jpg);
      }
    }
  }
}

.library__btns {
  display: flex;
  // width: 100%;
}

.library__btn {
  width: 152px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  color: $text-color-lighter;
}

.library__btn--active {
  background-color: $bg-button;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.library__btns__item + .library__btns__item {
  margin-left: 32px;
}
// .header__form__input::placeholder {
//   padding-left: 0;
// }
