.library__title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.33;
}
.image-error {
  margin: 0;
}
// .library__list {
//   @include mq(desktop) {
//     flex-wrap: nowrap;
//   }
// }
