/* ---------------------------Backdrop--------------------------------- */
.backdrop-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
/* ----------------------------Modal-window-------------------------------------- */
.modal {
  background-color: #fff;
}

.modal-main {
  min-width: 280px;
  min-height: 940px;

  @include mq(mobile-only) {
    position: absolute;
    top: 79%;
    left: 50%;
  }

  @include mq(tablet-only) {
    min-width: 704px;
    min-height: 552px;
  }

  @include mq(preDesktop) {
    min-width: 806px;
    min-height: 558px;
  }

  padding-top: 40px;
  padding-bottom: 40px;

  @include mq(tablet-only) {
    padding-left: 36px;
    padding-right: 72px;
  }

  @include mq(desktop) {
    padding-left: 12px;
    padding-right: 12px;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: white;
  overflow-y: auto;
}

.modal__desc {
  display: flex;

  @include mq(mobile-only) {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include mq(tablet-only) {
    gap: 68px;
  }

  @include mq(preDesktop) {
    gap: 16px;
  }
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border: 0px;
  color: #000000;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__poster {
  border-radius: 5px;
}

.modal__poster,
.modal__info {
  @include mq(mobile-only) {
    width: 240px;
    min-height: 375px;
  }

  @include mq(tablet-only) {
    min-width: 264px;
    min-height: 373px;
  }
}

.modal__poster {
  @include mq(desktop) {
    width: 375px;
  }
}

.modal__info {
  @include mq(desktop) {
    width: 391px;
  }
}

.modal__title {
  @include mq(mobile-only) {
    font-size: 20px;
    line-height: 1.5;
  }

  @include mq(desktop) {
    font-size: 30px;
    line-height: 1.16;
  }
}

table {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 20px;
}

td {
  min-width: 115px;
}

td,
th {
  color: #8c8c8c;
  padding-left: 0px;
  padding-right: 41px;
  padding-top: 8px;

  @include mq(desktop) {
    padding-right: 85px;
  }
}

.modal__table--vote,
.modal__table--popularity,
.modal__table--originalTitle,
.modal__table--genre {
  color: black;
  min-width: 120px;
}

h3 {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.modal__text--about {
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 20px;
  overflow-y: scroll;

  @include mq(mobile-only) {
    height: 236px;
  }
}

.modal__holder__btn {
  display: flex;
  justify-content: flex-start;

  @include mq(mobile-only) {
    justify-content: space-between;
  }
}

.modal__btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  width: 110px;
  min-height: 44px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1, 33;

  @include mq(tablet-only) {
    width: 125px;
  }

  @include mq(desktop) {
    width: 136px;
  }
}

.modal__btn--watched {
  color: white;
  background-color: #ff6b01;

  @include mq(tablet) {
    margin-right: 15px;
    margin-left: 8px;
  }
}

.modal__btn--queue {
  border: 1px solid #000000;
  color: black;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
