img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.backdrop-footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(tablet-max) {
    overflow-y: scroll;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .team-modal {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.close__svg {
  margin-top: 5px;
  cursor: pointer;
}

.team-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  background-color: $bg-body;

  width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  transform: translate(-50%, -50%), scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(mobile) {
    width: 280px;
  }

  @include mq(tablet) {
    width: 618px;
    height: auto;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include mq(desktop) {
    width: 882px;
    height: auto;
    padding-top: 48px;
    padding-bottom: 41px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;

    @include mq(desktop) {
      font-size: 30px;
      line-height: 1.16;
    }
  }

  &.dark-theme {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.8);
  }

  &__content {
    @include mq(tablet) {
      display: flex;
    }
  }
}

.team-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.team__member {
  // display: flex;
  margin: 10px;
}

.team__photo {
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.25);
//   opacity: 1;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   @include mq(tablet-max) {
//     overflow-y: scroll;
//   }

//   &.is-hidden {
//     opacity: 0;
//     pointer-events: none;
//   }

//   &.is-hidden .modal {
//     transform: translate(-50%, -50%) scale(1.2);
//   }
// }

// .close__svg {
//   margin-top: 5px;
//   cursor: pointer;
// }

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border-radius: 5px;

//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   padding-top: 48px;
//   padding-bottom: 40px;
//   padding-left: 20px;
//   padding-right: 20px;

//   transform: translate(-50%, -50%), scale(1);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   @include mq(mobile) {
//     width: 280px;
//   }

//   @include mq(tablet) {
//     width: 618px;
//     height: auto;
//     padding-top: 42px;
//     padding-left: 30px;
//     padding-right: 30px;
//   }

//   @include mq(desktop) {
//     width: 882px;
//     height: auto;
//     padding-top: 48px;
//     padding-bottom: 41px;
//   }

//   &__title {
//     margin-bottom: 20px;
//     font-size: 20px;
//     line-height: 1.15;
//     text-transform: uppercase;

//     @include mq(desktop) {
//       font-size: 30px;
//       line-height: 1.16;
//     }
//   }

//   &.dark-theme {
//     background-color: #333333;
//     color: rgba(255, 255, 255, 0.8);
//   }

//   &__content {
//     @include mq(tablet) {
//       display: flex;
//     }
//   }
// }
